---
title: Live Spreads
date: 2019-03-11
layout: layouts/toc.njk
permalink: /tools/live-spreads/
eleventyNavigation:
  key: Live Spreads
  excerpt: A Comparison of Live Forex Broker Spreads, updated every 2 seconds
  parent: Tools
  url: /tools/live-spreads/
  order: 1
  icon: spreads
tags: ["tools"]
---

<p class="mt-0">In eget condimentum libero. Phasellus rhoncus lobortis ante a dictum. Phasellus sodales ut risus aliquet dapibus. Nunc pulvinar facilisis consequat. Donec nec purus imperdiet, vehicula erat non, sollicitudin libero. Aliquam eu viverra mauris. Morbi consectetur ante ac fringilla condimentum. Quisque ut elit massa. Aenean congue tincidunt dignissim. Quisque vestibulum eget ligula et porta.</p>
<p>Sed consectetur viverra urna id porttitor.</p>