---
title: Market Holidays
subtitle: Stock Market Holidays
excerpt: >
  Calendar of Upcoming Stock Market Holidays - click on a market for a complete holiday calendar for that market.<br /><br />
  You may also be interested in our: <a href="#" class="btn btn-underline p-0"><span>Live Forex Market Hours Clock</span></a>
layout: layouts/base-breadcrumb.njk
permalink: /tools/market-holidays/
eleventyNavigation:
  key: Market Holidays
  excerpt: Calendar of Upcoming Stock Market Holidays
  parent: Tools
  url: /tools/market-holidays/
  order: 3
  icon: holiday
tags: ["tools"]
---

<section class="py-section">
  <div class='container-md container-max-xl'>
    <div class='row mb-16px'>
      <div class='col-lg-12 d-flex gap-3 justify-content-between'>
        <div class="d-flex gap-3">
          <button type="button" class="btn btn-outline-primary">
            Today
          </button>
          <button type="button" class="btn btn-outline-primary">
            This week
          </button>
          <button type="button" class="btn btn-outline-primary">
            Next week
          </button>
          <button type="button" class="btn btn-outline-primary">
            Custom
            <svg class="ms-2" aria-hidden="true" width="24" height="24">
                <use href="/img/icons/symbol/svg/sprite.css.svg#holiday"></use>
            </svg>
          </button>
        </div>
        <div class="dropdown TODO-forexchurch-anchor-offset TODO-forexchurch-scroll-snap" @click.away="openSelectedBrokers = false">
          <button @click.prevent="openSelectedBrokers = !openSelectedBrokers" type="button" class="btn btn-outline-primary">
                Select Different Markets
            </button>
          {# TODO: adjust `const heightDropdown = 82;` in the JS in case of markup change #}

          <form x-show="openSelectedBrokers" :class="{'show': openSelectedBrokers}" class="dropdown-menu p-4" @click="openSelectedBrokers = true" style="display: none;">
            <div class="d-flex flex-column row-gap-2">
              <div class="input-group mb-3">
                <span class="input-group-text bg-white border-none ps-16px pe-0">
                  <svg class="flex-shrink-0" aria-hidden="true" width="20" height="20">
                    <use href="/img/icons/symbol/svg/sprite.css.svg#search"></use>
                  </svg>
                </span>
                <input type="search" x-model="searchText" class="form-control border-start-0 shadow-none" placeholder="Search" aria-label="Search">
              </div>

              <template x-for="broker in brokerList" :key="broker.id">
                <div class="form-check" x-show="!searchText || broker.name.toLowerCase().includes(searchText.toLowerCase())">
                  <input type="checkbox" x-model="selectedBrokers" class="form-check-input" :id="'check-' + broker.id" :value="broker.id" @change="toggleBroker($event)">
                  <label class="form-check-label" :for="'check-' + broker.id" x-text="broker.name"></label>
                </div>
              </template>

              <hr class="border border-light opacity-100 w-100"/>
              <button type="button" class="btn btn-outline-primary" @click="clearAllBrokers">Clear all</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% include "components/table-average-forex-spreads.njk" %}
  </div>
</section>