---
title: Market Hours
subtitle: Stock Market Hours
excerpt: >
  Below is a list of the Opeing, Closing, Current as well as Countdown Times for some of the World’s Major Stock Exchanges. Times on the page autmatically updated every minute.<br /><br />
  Click on the market name to view the holiday calender.
layout: layouts/base-breadcrumb.njk
permalink: /tools/market-hours/
eleventyNavigation:
  key: Market Hours
  excerpt: Opening Hours for some of the World’s Major Stock Exchanges
  parent: Tools
  url: /tools/market-hours/
  order: 4
  icon: hour
tags: ["tools"]
---

<section class="py-section">
  <div class='container-md container-max-xl'>
    <div class='row mb-16px'>
      <div class='col-lg-12 d-flex gap-3'>
        <button type="button" class="btn btn-outline-primary flex-grow-1">
            North America Markets
        </button>
        <button type="button" class="btn btn-outline-primary flex-grow-1">
            South America Markets
        </button>
        <button type="button" class="btn btn-outline-primary flex-grow-1">
            European Markets
        </button>
        <button type="button" class="btn btn-outline-primary flex-grow-1">
            Asi Pacific Markets
        </button>
      </div>
    </div>
    {% include "components/table-average-forex-spreads.njk" %}
  </div>
</section>