<div class="bg-tertiary-light">
    <div class='container'>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb fw-medium mb-0">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="" aria-hidden="true" width="20" height="20">
                            <use href="/img/icons/symbol/svg/sprite.css.svg#home"></use>
                        </svg>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
        </nav>
        <div class="py-24px">
            <h1 class="visually-hidden">{{title}}</h1>
            <h2 class="lead fw-semibold mb-24px">Find the best forex broker for you</h2>
            <p class="mb-0">Do you seek the finest broker that matches your requirements? This page will simplify the search process by assisting you in identifying the most suitable broker based on your preferences. By answering a few questions and following the prompts, you can effortlessly discover the brokers of your dreams.</p>
        </div>
    </div>
</div>