<div class="bg-tertiary-light position-relative overflow-hidden">
    <img src="/img/header_illustration_right.svg" class="d-none d-md-block position-absolute top-0 end-0 mt-72px"/>

    <div class='container-md container-max-xl position-relative'>
        <nav aria-label="breadcrumb" class="TODO-forexchurch-anchor-offset TODO-forexchurch-scroll-snap">
            <ol class="breadcrumb fw-medium mb-0">
                <li class="breadcrumb-item">
                    <a href="/">
                        <svg class="" aria-hidden="true" width="20" height="20">
                            <use href="/img/icons/symbol/svg/sprite.css.svg#home"></use>
                        </svg>
                        <span class="visually-hidden">Home</span>
                    </a>
                </li>
                {# NOTE: https://www.11ty.dev/docs/plugins/navigation/#example-breadcrumbs #}
                {% set breadcrumbPages = collections.all | eleventyNavigationBreadcrumb(title) %}
                {% for breadcrumb in breadcrumbPages %}
                    <li class="breadcrumb-item">
                        <a href="{{breadcrumb.url}}" class="text-decoration-none">{{breadcrumb.title}}</a>
                    </li>
                {% endfor %}
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
        </nav>

        <div class="py-24px">
            <h1 class="visually-hidden">{{title}}</h1>
            {% if showInBreadcrumb != false %}
                <h2 class="h3 mb-24px">{{subtitle}}</h2>
                <p class="mb-0">{{ excerpt | safe }}</p>

                {% if extraContent %}
                    <div class="mt-16px">
                        {{ extraContent | safe }}
                    </div>
                {% endif %}
            {% else %}
                {# TODO: refactor #}
                <div style="height: 90px;"></div>
            {% endif %}
        </div>
    </div>
</div>