<div x-data="brokerComparisonExample()" x-init="initTable">
    <div x-data="{ openSelectedBrokers: false }" class="dropdown" @click.away="openSelectedBrokers = false">
        <button @click.prevent="openSelectedBrokers = !openSelectedBrokers" type="button" class="btn btn-primary-outline">
            Selected brokers
        </button>

        <form x-show="openSelectedBrokers" :class="{'show': openSelectedBrokers}" class="dropdown-menu p-4" @click="openSelectedBrokers = true" style="display: none;">
            <div class="d-flex flex-column row-gap-2">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check-e-toro" value="e-toro" @change="toggleBroker($event)" checked>
                    <label class="form-check-label" for="check-e-toro">
                        eToro
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check-ic-markets" value="ic-markets" @change="toggleBroker($event)" checked>
                    <label class="form-check-label" for="check-ic-markets">
                        IC Markets
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check-pepperstone" value="pepperstone" @change="toggleBroker($event)">
                    <label class="form-check-label" for="check-pepperstone">
                        Pepperstone
                    </label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="check-tickmill" value="tickmill" @change="toggleBroker($event)">
                    <label class="form-check-label" for="check-tickmill">
                        Tickmill
                    </label>
                </div>
                <hr class="border border-light opacity-100 w-100"/>
                <button type="button" class="btn btn-primary-outline">Clear all</button>
            </div>
        </form>
    </div>

    <div class="x-rounded-3 x-overflow-hidden my-16px">
        <div id="comparison-table" class="table-header-light"></div>
    </div>
</div>