<div class="mt-16px mb-32px">
    <div class="comparison-table-clone tabulator table-header-light bg-white position-sticky top-navbar z-1 pt-16px">
        <!-- TODO: debug/revisit for the full comaprison use case d-none d-md-block -->
        <!-- TODO: clean, then clone <div class="tabulator-header" role="rowgroup"> here from #comparison-table on every toggleBroker(event) and clearAllBrokers()-->
    </div>
    <div id="comparison-table" class="table-header-light"></div>
</div>