<div x-data="brokerComparisonExample()" x-init="initTable">
    <div>
        <label><input type="checkbox" value="e-toro" @change="toggleBroker($event)" checked> eToro</label>
        <label><input type="checkbox" value="ic-markets" @change="toggleBroker($event)" checked> IC Markets</label>
        <label><input type="checkbox" value="broker-3" @change="toggleBroker($event)"> Broker 3</label>
        <label><input type="checkbox" value="broker-4" @change="toggleBroker($event)"> Broker 4</label>
    </div>

    <div class="rounded-3 overflow-hidden mb-16px">
        <div id="comparison-table"></div>
    </div>
</div>