<footer class="position-relative">
  <div class='bg-primary text-white'>
    <div class='container'>
      <div class='row pt-section pb-3 py-md-section'>
        <div class='col-md-12 col-xl-4 text-center text-md-start'>
          <a
          href='/' class="d-inline-block mb-2"
        >
            <img src="/img/logo.svg" alt='TODO' width='172' height='73' class=""/>
          </a>
          <h3>Follow us</h3>
          <ul class="list-inline mb-3">
            <li class="list-inline-item">
              <a href="#">
                <svg class="text-secondary" aria-hidden="true" width="24" height="24">
                  <use href="/img/icons/symbol/svg/sprite.css.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <svg class="text-secondary" aria-hidden="true" width="24" height="24">
                  <use href="/img/icons/symbol/svg/sprite.css.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <svg class="text-secondary" aria-hidden="true" width="24" height="24">
                  <use href="/img/icons/symbol/svg/sprite.css.svg#facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class='col-md-3 col-xl-2'>
          <h3 class="text-uppercase text-md-capitalize">Top Brokers</h3>
          {# TODO: mobile dropdonws: d-none d-md-block #}
          <ul class="list-unstyled lh-lg mb-md-0 d-none d-md-block">
            <li>
              <a href="/forex-brokers/eToro">eToro</a>
            </li>
            <li>
              <a href="/forex-brokers/Tickmill">Tickmill</a>
            </li>
            <li>
              <a href="/forex-brokers/IC Markets">IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/Pepperstone">Pepperstone</a>
            </li>
            <li>
              <a href="/forex-brokers/Interactive Brokers">Interactive Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers/Markets.com">Markets.com</a>
            </li>
          </ul>
        </div>
        <div class='col-md-3 col-xl-2'>
          <h3 class="text-uppercase text-md-capitalize">Resources</h3>
          <ul class="list-unstyled lh-lg mb-md-0 d-none d-md-block">
            <li>
              <a href="/about-us">About us</a>
            </li>
            <li>
              <a href="/our-methodology">Our methodology</a>
            </li>
            <li>
              <a href="/news/1">Best Forex Trading Platform</a>
            </li>
            <li>
              <a href="/news/2">New ESMA Regulations</a>
            </li>
            <li>
              <a href="/news/3">Cryptocurrency Trading</a>
            </li>
            <li>
              <a href="/news/4">Forex Trading Strategies</a>
            </li>
          </ul>
        </div>
        <div class='col-md-3 col-xl-2'>
          <h3 class="text-uppercase text-md-capitalize">Top comparisons</h3>
          <ul class="list-unstyled lh-lg mb-md-0 d-none d-md-block">
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C1">eToro vs IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=0%2C2">Tickmill vs Capital</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C1">eToro vs IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=2%2C4">Capital vs Pepperstone</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C2">eToro vs Capital</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C1">eToro vs IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=0%2C1">Tickmill vs IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C1">eToro vs IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=0%2C2">Tickmill vs Capital</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C1">eToro vs IC Markets</a>
            </li>
          </ul>
        </div>
        <div class='col-md-3 col-xl-2'>
          <h3 class="text-uppercase text-md-capitalize">Broker Categories</h3>
          <ul class="list-unstyled lh-lg mb-md-0 d-none d-md-block">
            <li>
              <a href="/forex-brokers?mt4Server=1">MT4 Forex Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers?mt4Server=2">MT5 Forex Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers?brokerTypes=3">cTrader Forex Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers?mt4Server=1,2">Forex Brokers With Binary Options</a>
            </li>
            <li>
              <a href="/forex-brokers?pricingDigits=1">Brokers With 4 Digit Pricing</a>
            </li>
            <li>
              <a href="/forex-brokers?pricingDigits=2">Brokers With 5 Digit Pricing</a>
            </li>
            <li>
              <a href="/forex-brokers?additionalInstruments=3">Cryptocurrency Forex Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers?brokerTypes=1">ECN Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers?brokerTypes=3">Brokers Offering STP Accounts</a>
            </li>
            <li>
              <a href="/forex-brokers?offices=1">UK Forex Brokers</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='bg-primary-dark'>
      <div class='container'>
        <div class='row py-24px'>
          <div class="col-md-7 order-md-2 text-md-end d-flex flex-column flex-md-row justify-content-end mb-3 mb-md-0">
            <a href="#" class="mx-md-2 mb-2">Privacy policy</a>
            <a href="#" class="mx-md-2 mb-2">Contact Us.</a>
            <a href="#" class="mx-md-2 mb-2">Terms and Conditions</a>
          </div>
          <div class="col-md-5 order-md-1">
            <p class="mb-0">Copyright © 2024 forexchurch.com</p>
            <p class="mb-0">All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/img/footer_logo.svg" class="d-none d-md-block position-absolute bottom-0 start-0 mb-72px"/>

  <a href="#top" class="position-absolute top-0 end-0 me-3 me-lg-5 mt-2 translate-middle-y">
    <svg aria-hidden="true" width="80" height="88">
      <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-top-hexagon"></use>
    </svg>
    <span class="visually-hidden">Scroll to top</span>
  </a>
</footer>