<footer class="">
  <div class='bg-primary text-white'>
    <div class='container'>
      <div class='row py-5'>
        <div class='col-lg-4'>
          <a
          href='/' class=""
        >
            <img src="/img/logo.svg" alt='TODO' width='172' height='73' class=""/>
          </a>
        </div>
        <div class='col-lg-2'>
          <h3>Top Brokers</h3>
          <ul class="list-unstyled">
            <li>
              <a href="/forex-brokers/eToro">eToro</a>
            </li>
            <li>
              <a href="/forex-brokers/Trickmill">Trickmill</a>
            </li>
            <li>
              <a href="/forex-brokers/IC Markets">IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/Pepperstone">Pepperstone</a>
            </li>
            <li>
              <a href="/forex-brokers/Interactive Brokers">Interactive Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers/Markets.com">Markets.com</a>
            </li>
          </ul>
        </div>
        <div class='col-lg-2'>
          <h3>Resources</h3>
          <ul class="list-unstyled">
            <li>
              <a href="/about-us">About us</a>
            </li>
            <li>
              <a href="/our-methodology">Our methodology</a>
            </li>
            <li>
              <a href="/news/1">Best Forex Trading Platform</a>
            </li>
            <li>
              <a href="/news/2">New ESMA Regulations</a>
            </li>
            <li>
              <a href="/news/3">Cryptocurrency Trading</a>
            </li>
            <li>
              <a href="/news/4">Forex Trading Strategies</a>
            </li>
          </ul>
        </div>
        <div class='col-lg-2'>
          <h3>Top comparisons</h3>
          <ul class="list-unstyled">
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C1">eToro vs IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=0%2C2">Trickmill vs Capital</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C1">eToro vs IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=2%2C4">Capital vs Pepperstone</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C2">eToro vs Capital</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C1">eToro vs IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=0%2C1">Trickmill vs IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C1">eToro vs IC Markets</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=0%2C2">Trickmill vs Capital</a>
            </li>
            <li>
              <a href="/forex-brokers/vs?selectedBrokers=5%2C1">eToro vs IC Markets</a>
            </li>
          </ul>
        </div>
        <div class='col-lg-2'>
          <h3>Broker Categories</h3>
          <ul class="list-unstyled">
            <li>
              <a href="/forex-brokers?mt4Server=1">MT4 Forex Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers?mt4Server=2">MT5 Forex Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers?brokerTypes=3">cTrader Forex Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers?mt4Server=1,2">Forex Brokers With Binary Options</a>
            </li>
            <li>
              <a href="/forex-brokers?pricingDigits=1">Brokers With 4 Digit Pricing</a>
            </li>
            <li>
              <a href="/forex-brokers?pricingDigits=2">Brokers With 5 Digit Pricing</a>
            </li>
            <li>
              <a href="/forex-brokers?additionalInstruments=3">Cryptocurrency Forex Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers?brokerTypes=1">ECN Brokers</a>
            </li>
            <li>
              <a href="/forex-brokers?brokerTypes=3">Brokers Offering STP Accounts</a>
            </li>
            <li>
              <a href="/forex-brokers?offices=1">UK Forex Brokers</a>
            </li>
          </ul>
        </div>
      </div>
      <div class='row py-5'>
        <div class="col-lg-4">
          <p>Copyright © 2024 forexchurch.com</p>
          <p>All rights reserved.</p>
        </div>
        <div class="col-lg-8 text-end">
          <a href="#" class="">Privacy policy</a>
          <a href="#" class="">Contact Us.</a>
          <a href="#" class="">Terms and Conditions</a>
        </div>
      </div>
    </div>
  </div>
</footer>