<div class="table-responsive rounded-3 overflow-lg-hidden mb-32px">
    {# <div x-data="loadBreweries()" x-init="getBreweries"> #}
    <div x-data="loadBreweriesMock()" x-init="getBreweriesMock">
        <table class="table table-striped w-full fs-7 mb-0">
            <thead class="table-dark">
                <tr>
                    <th class="bg-primary">Name</th>
                    <th class="bg-primary">Type</th>
                    <th class="bg-primary">City</th>
                    <th class="bg-primary">State</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="brewery in breweries" :key="brewery.id">
                    <tr>
                        <td x-text="brewery.name"></td>
                        <td x-text="brewery.brewery_type"></td>
                        <td x-text="brewery.city"></td>
                        <td x-text="brewery.state"></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>