<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {% if page.url == '/' %}ForexChurch{% else %}{{ title }} | ForexChurch{% endif %}
</title>
{% if description %}
    <meta name="description" content="{{ description }}">
{% else %}
    <meta name="description" content="Find the best forex broker for you">
{% endif %}
<meta name="keywords" content="forex broker, forex brokers, brokers list, compare forex brokers, top forex brokers, forex broker reviews, mt4, mt5, metatrader, ecn broker, stock market open times, stock market holidays, market clocks">
<meta name="author" content="ForexChurch">

{# fonts, CSS #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
{# NOTE: in case further load speed optimization is required <link rel="stylesheet" media='print' onload="this.media='all'" href="/css/vendor/swiper-bundle.min.css" > #}
{# NOTE: optional JS import for debugging <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script> #}

{# favicons #}
<link rel="icon" href="/img/favicon.ico" sizes="32x32">
<link rel="icon" href="/img/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
<!-- 180×180 -->
<link rel="manifest" href="/site.webmanifest">

{# open graph #}
<meta property="og:image" content="/img/og-cover-logo-TODO.png"/>
<meta property="twitter:image" content="/img/og-cover-logo-TODO.png"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
