<header x-data="{ isTopNavbarOpen: false }">
  <div class='bg-primary text-white'>
    <div class='container'>
      <div class="d-flex align-items-center justify-content-between">
        <button
            @click="isTopNavbarOpen = !isTopNavbarOpen"
            type='button'
            aria-label='menu'
            id="burger-menu"
            class="btn btn-link p-0 d-xl-none"
          >
          <svg class="text-tertiary" aria-hidden="true" width="24" height="24">
            <use :href="isTopNavbarOpen ? '/img/icons/symbol/svg/sprite.css.svg#close' : '/img/icons/symbol/svg/sprite.css.svg#hamburger'"></use>
          </svg>
          <span class="visually-hidden">Menu</span>
        </button>

        <div class="d-flex flex-grow-1 align-items-center justify-content-center">
          <a href='/'>
            <img src="/img/logo.svg" alt='TODO' width='172' height='73' class=""/>
          </a>

          {% set navPages = collections.all | eleventyNavigation %}
          <ul class="bg-primary d-none d-xl-flex flex-grow-1 justify-content-center list-inline mb-0" :class="{'d-none': !isTopNavbarOpen, 'd-flex flex-column align-items-start px-3 position-absolute mt-navbar top-0 bottom-0 start-0 end-0': isTopNavbarOpen}">
            {% for entry in navPages %}

              {% if entry.children.length %}
                <li class='px-lg-3'>

                  <div x-data="{ dropdownOpen: false }" 
                      @mouseleave="if (window.innerWidth >= 992) dropdownOpen = false"
                      @mouseover="if (window.innerWidth >= 992) dropdownOpen = true">
                    <button @click="if (window.innerWidth < 992) dropdownOpen = !dropdownOpen" type="button" id="dropdown{{ entry.title }}Button" class="btn btn-link btn-navbar p-0 text-nowrap {{ 'text-tertiary' if entry.url in page.url else 'text-white'}}" >
                      <span>{{ entry.title }}</span>
                      <svg class="ms-1" aria-hidden="true" width="24" height="24">
                        <use href="/img/icons/symbol/svg/sprite.css.svg#chevron-down"></use>
                      </svg>
                    </button>
                    <ul x-show="dropdownOpen" 
                        @click.away="dropdownOpen = false" 
                        :data-dropdown-open="dropdownOpen ? 'true' : 'false'"
                        class="list-unstyled" 
                        id="dropdown{{ entry.title }}" 
                        aria-labelledby="dropdown{{ entry.title }}Button">
                      {% for child in entry.children %}
                        <li class="d-flex flex-column align-items-start {{ 'layout-calculators' if child.title in 'Calculators' }}">
                          {% if child.children.length %}
                            <h6 class="text-white text-lg-body">{{ child.title }}</h6>
                            <ul class="ps-4 list-unstyled">
                              {% for subchild in child.children %}
                                <li>
                                  <svg class="text-body me-2" aria-hidden="true" width="24" height="24">
                                    <use href="/img/icons/symbol/svg/sprite.css.svg#{{ subchild.icon }}"></use>
                                  </svg>
                                  <a href="{{ subchild.url }}" class="{{ 'text-tertiary' if subchild.url in page.url else 'text-white text-lg-body' }}">{{ subchild.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% else %}
                            {% if child.icon %}
                              <div class="d-inline-block bg-primary p-12px rounded-3 mb-3">
                                <svg class="text-secondary" aria-hidden="true" width="24" height="24">
                                  <use href="/img/icons/symbol/svg/sprite.css.svg#{{ child.icon }}"></use>
                                </svg>
                              </div>
                            {% endif %}
                            <a href="{{ child.url }}" class="mb-2 {{'text-tertiary' if child.url in page.url else 'text-white text-lg-body'}}">{{ child.title }}</a>
                            <p class="text-white text-lg-body">{{ child.excerpt }}</p>
                          {% endif %}
                        </li>
                      {% endfor %}

                      {# NOTE: for now used only to include /forex-brokers/ as advanced search link #}
                      {% if entry.includeSelf != false %}
                        <li class="bg-light p-4 rounded-4 w-25">
                          <div>
                            <h6 class="text-white text-lg-body">{{ entry.title }}</h6>
                            <div class="d-flex align-items-start">
                              <p class="text-white text-lg-body">{{ entry.excerpt }}</p>
                              <div class="bg-primary p-2 rounded-3 ms-3">
                                <svg class="text-secondary" aria-hidden="true" width="24" height="24">
                                  <use href="/img/icons/symbol/svg/sprite.css.svg#{{ entry.icon }}"></use>
                                </svg>
                              </div>
                            </div>
                            <a href="{{ entry.url }}" class="text-white text-lg-body">Advanced Search</a>
                          </div>
                        </li>
                      {% endif %}
                      {# NOTE: advanced search end #}

                    </ul>
                  </div>

                </li>
              {% else %}
                <li class='px-lg-3'>
                  <a href="{{ entry.url }}" class="btn-navbar {{'text-tertiary' if entry.url in page.url else 'text-white'}}">
                    {{ entry.title }}
                  </a>
                </li>
              {% endif %}

            {% endfor %}
          </ul>
        </div>

        <button
          type='button'
            id="search"
            class="btn btn-link p-0 ms-4"
          >
          <svg class="text-tertiary" aria-hidden="true" width="24" height="24">
            <use href="/img/icons/symbol/svg/sprite.css.svg#search"></use>
          </svg>
          <span class="visually-hidden">Search</span>
        </button>
      </div>
    </div>
  </div>
</div>
</header>