{# TODO: refactor the star SVGs #}

<div class="flex">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="24" height="24"><path fill="#FFCB45" d="m12 2.556 2.781 6.64L22 9.77l-5.5 4.678 1.68 6.996-6.18-3.75-6.18 3.75 1.68-6.996L2 9.771l7.219-.575L12 2.556Z"></path></svg>
    <span class="ms-8px fw-medium">3.8</span>
</div>