{# TODO: refactor the star SVGs #}

<div class="d-flex align-items-center">
    <span class="h1 fw-bold mb-0">3.8</span>
    <span class="me-8px">/5</span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="32" height="32">
        <path fill="#FFCB45" d="m12 2.556 2.781 6.64L22 9.77l-5.5 4.678 1.68 6.996-6.18-3.75-6.18 3.75 1.68-6.996L2 9.771l7.219-.575L12 2.556Z"></path>
    </svg>
</div>