<div class="position-relative">
    <div class="swiper mx-n10px" data-forexchurch-swiper>
        <div class="swiper-wrapper">
            {% for slide in slidesData %}
                <div class="swiper-slide px-10px pb-10px">
                    <div class="forexchurch-tile shadow-lg d-flex align-items-start flex-column break-inside-avoid-column">
                        {# <figure>
                            <div class="{{ slidesHeight }}">
                                NOTE: example of setting an individual pictureObject before including components/picture-example.njk
                                {% set pictureObject = {
                                    'webP': slide.webP,
                                    'webP2x': slide.webP2x,
                                    'jpg': slide.jpg,
                                    'jpg2x': slide.jpg2x
                                } %}
                                {% include "components/picture-example.njk" %}
                            </div>
                        </figure> #}
                        <div class="d-flex align-items-center">
                            {# <div class="rounded-4 p-2 shadow-sm d-flex align-items-center justify-content-center me-3"> #}
                                <img src="{{ slide.data.eleventyNavigation.logo | default('/img/favicon.svg') }}" alt='logo' width='64' height='64' class="flex-shrink-0 object-fit-contain me-3"/>
                            {# </div> #}
                            <div>
                                <h6 class="fw-medium mb-0">{{ slide.data.title }}</h6>
                                {% include "components/star-rating.njk" %}
                            </div>
                        </div>
                        <p class=""><small>{{ slide.data.excerpt }}</small></p>
                        <a href="{{ slide.data.permalink }}" class="btn btn-primary w-100">
                            Visit Broker
                        </a>
                        <a href="{{ slide.data.permalink }}" class="btn btn-outline-primary w-100">
                            Read Review
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="bg-white d-inline-flex align-items-center rounded-pill mt-32px p-8px">
            <button type="button" class="btn btn-link p-0 text-tertiary swiper-button-prev">
                <svg class="" aria-hidden="true" width="24" height="24">
                    <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-left"></use>
                </svg>
                <span class="visually-hidden">previous slide</span>
            </button>
            <div class="swiper-pagination position-static d-inline-flex align-items-center mx-3"></div>
            <button type="button" class="btn btn-link p-0 text-tertiary swiper-button-next">
                <span class="visually-hidden">next slide</span>
                <svg class="" aria-hidden="true" width="24" height="24">
                    <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</div>