<div class="table-responsive">
    <table class="table table-striped w-full">
        <tbody>
            <tr>
                <td>Types of Platforms and Apps Offered</td>
                <td>Lorem, Lorem, Lorem</td>
            </tr>
            <tr>
                <td>Mobile Trading</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Web Based Trading</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>MT4 Server Time</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Demo Account Expiry</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Decimal Pricing</td>
                <td>4 digits</td>
            </tr>
            <tr>
                <td>Execution</td>
                <td>Market Execution</td>
            </tr>
            <tr>
                <td>Number of Liquidity Providers</td>
                <td>10</td>
            </tr>
            <tr>
                <td>OCO Orders</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>FIFO Orders</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Email Alerts</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>asd</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Mobile/SMS Alerts</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Social Trading</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>AutoChartist</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Trading Signals</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
        </tbody>
    </table>
</div>