<div class="table-responsive rounded-3 overflow-lg-hidden mb-32px py-1">
    <table class="table table-striped table-highlight w-full fs-7 mb-0">
        <thead class="table-dark">
            <tr>
                <th class="bg-primary"></th>
                <th class="bg-primary"></th>
                <th class="bg-primary text-center">Number of Assets</th>
                <th class="bg-primary text-center">Max leverage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Forex</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
                <td class="text-center">12</td>
                <td class="text-center">100:1</td>
            </tr>
            <tr>
                <td>Indices CFD’s</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
                <td class="text-center">12</td>
                <td class="text-center">100:1</td>
            </tr>
            <tr>
                <td>Commodities CFD</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
                <td class="text-center">12</td>
                <td class="text-center">100:1</td>
            </tr>
            <tr>
                <td>Stocks CFD’s</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
                <td class="text-center">12</td>
                <td class="text-center">100:1</td>
            </tr>
            <tr>
                <td>Crypto CFD’s</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
                <td class="text-center">12</td>
                <td class="text-center">100:1</td>
            </tr>
            <tr>
                <td>Futures CFD’s</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
                <td class="text-center">12</td>
                <td class="text-center">100:1</td>
            </tr>
            <tr>
                <td>Bond CFD’s</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
                <td class="text-center">12</td>
                <td class="text-center">100:1</td>
            </tr>
            <tr>
                <td>Forex</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
                <td class="text-center">12</td>
                <td class="text-center">100:1</td>
            </tr>
            <tr>
                <td>ETF CFD’s</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
                <td class="text-center">12</td>
                <td class="text-center">100:1</td>
            </tr>
        </tbody>
    </table>
</div>