<div class="d-flex justify-content-center">
    <div class="text-start text-nowrap" style="min-width: 55px">
        <svg class="me-2" aria-hidden="true" width="20" height="20">
            <use href="/img/icons/symbol/svg/sprite.css.svg#compare-positive-circle"></use>
        </svg>
        <span>Yes</span>
    </div>
</div>