<div class="table-responsive">
    <table class="table table-striped w-full">
        <tbody>
            <tr>
                <td>Forex</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Indices CFD’s</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Commodities CFD</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Stocks CFD’s</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Crypto CFD’s</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
        </tbody>
    </table>
</div>