<div class="table-responsive">
    <table class="table table-striped w-full">
        <tbody>
            <tr>
                <td>Company Name</td>
                <td>LMFX</td>
            </tr>
            <tr>
                <td>Website</td>
                <td>
                    <a href="https://lmfx.com/" class="btn btn-underline p-0">
                        <span>lmfx.com</span></a>
                </td>
            </tr>
            <tr>
                <td>Headquarters</td>
                <td>Skopje, Macedonia</td>
            </tr>
            <tr>
                <td>Offices in</td>
                <td>Macedonia</td>
            </tr>
            <tr>
                <td>Broker Type</td>
                <td>STP</td>
            </tr>
            <tr>
                <td>Dealing Desk</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Regulated By</td>
                <td>Not Regulated</td>
            </tr>
            <tr>
                <td>Clients from US Accepted</td>
                <td class="text-start d-flex">{% include "components/table-cell-yes.njk" %}</td>
            </tr>
            <tr>
                <td>Restricted countries</td>
                <td>Country 1, Country 2, Country 3 </td>
            </tr>
        </tbody>
    </table>
</div>