<div class="table-responsive rounded-3 overflow-lg-hidden mb-32px py-1">
    <table class="table table-striped table-highlight w-full fs-7 mb-0">
        <thead class="table-dark">
            <tr>
                <th class="bg-primary"></th>
                <th class="bg-primary text-center">Applicable</th>
                <th class="bg-primary text-center">Fee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Account Fee</td>
                <td>{% include "components/table-cell-yes.njk" %}</td>
                <td>$25 {% set popoverTitle = "Title TODO" %}
                    {% set popoverContent = "Text TODO" %}
                    {% include "components/popover.njk" %}</td>
            </tr>
            <tr>
                <td>Inactivity Fee</td>
                <td>{% include "components/table-cell-no.njk" %}</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Deposit Fee</td>
                <td>{% include "components/table-cell-no.njk" %}</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Withdrawal Fee</td>
                <td>{% include "components/table-cell-yes.njk" %}</td>
                <td>$25 {% set popoverTitle = "Title TODO" %}
                    {% set popoverContent = "Text TODO" %}
                    {% include "components/popover.njk" %}</td>
            </tr>
        </tbody>
    </table>
</div>