<div class="table-responsive">
    <table class="table table-striped w-full">
        <tbody>
            <tr>
                <td>Company</td>
                <td>Israel</td>
            </tr>
            <tr>
                <td>Website</td>
                <td>16 (since 2007)</td>
            </tr>
            <tr>
                <td>Headquarters</td>
                <td>Market Maker</td>
            </tr>
            <tr>
                <td>Offices in </td>
                <td>30:1</td>
            </tr>
            <tr>
                <td>Broker Type </td>
                <td>Variable, starting as low as 1.0 pips</td>
            </tr>
            <tr>
                <td>Dealing Desk</td>
                <td>eToro proprietary trading platform</td>
            </tr>
            <tr>
                <td>Clients from US Accepted</td>
                <td>Forex, Stocks, ETFs, Indexes, Commodities, Cryptocurrencies</td>
            </tr>
            <tr>
                <td>Restricted countries</td>
                <td>Credit Cards, Bank Transfers, Third-Party Payment Processors, eToro Money</td>
            </tr>
        </tbody>
    </table>
</div>