<nav id="toc" class='forexchurch-tile shadow-lg flex-column mb-16px position-relative'>
    <ul class="list-unstyled w-100 mb-0">
        {# NOTE: static, example markup #}
        {# <li>
            <a href="#our-conclusion" class="text-decoration-none" :class="activeScrollspy === 'our-conclusion' ? 'text-body bg-tertiary-light' : 'text-muted'">Our conclusion</a>
        </li>
        <li>
            <a href="#overview" class="text-decoration-none" :class="activeScrollspy === 'overview' ? 'text-body bg-tertiary-light' : 'text-muted'">Overview</a>
        </li>
        <li>
            <a href="#account-types" class="text-decoration-none" :class="activeScrollspy === 'account-types' ? 'text-body bg-tertiary-light' : 'text-muted'">Account Types</a>
        </li>
        <li>
            <a href="#account-opening-procedure" class="text-decoration-none" :class="activeScrollspy === 'account-opening-procedure' ? 'text-body bg-tertiary-light' : 'text-muted'">Account Opening Procedure</a>
        </li>
        <li>
            <a href="#trading-platforms" class="text-decoration-none" :class="activeScrollspy === 'trading-platforms' ? 'text-body bg-tertiary-light' : 'text-muted'">Trading Platform(s)</a>
        </li>
        <li>
            <a href="#assets-traded" class="text-decoration-none" :class="activeScrollspy === 'assets-traded' ? 'text-body bg-tertiary-light' : 'text-muted'">Assets Traded</a>
        </li>
        <li>
            <a href="#deposits-withdrawals" class="text-decoration-none" :class="activeScrollspy === 'deposits-withdrawals' ? 'text-body bg-tertiary-light' : 'text-muted'">Deposits/Withdrawals</a>
        </li>
        <li>
            <a href="#fees" class="text-decoration-none" :class="activeScrollspy === 'fees' ? 'text-body bg-tertiary-light' : 'text-muted'">Fees</a>
        </li> #}
    </ul>
</nav>