<nav id="toc" class='forexchurch-tile shadow-lg flex-column mb-16px position-relative'>
    <ul class="list-unstyled w-100 mb-0">
        <li>
            <a href="#our-conclusion" class="text-decoration-none" :class="activeScrollspy === 'our-conclusion' ? 'text-body bg-tertiary-light' : 'text-muted'">Our conclusion</a>
        </li>
        <li>
            <a href="#overview" class="text-decoration-none" :class="activeScrollspy === 'overview' ? 'text-body bg-tertiary-light' : 'text-muted'">Overview</a>
        </li>
        <li>
            <a href="#account-types" class="text-decoration-none" :class="activeScrollspy === 'account-types' ? 'text-body bg-tertiary-light' : 'text-muted'">Account Types</a>
        </li>
    </ul>
</nav>