<div class="bg-primary position-fixed start-0 end-0 bottom-0 p-3 text-center">
    <a href="{{ brokers[broker1].permalink }}" class="btn btn-outline-primary mx-auto">
        Visit Broker
    </a>
</div>