.py-section {
  // TODO: refactor
  // padding-top: map-get($spacers, '64px');
  // padding-bottom: map-get($spacers, '64px');

  // stylelint-disable scss/selector-no-union-class-name
  &-lg {
    padding-top: map-get($spacers, "72px");
    padding-bottom: map-get($spacers, "72px");
  }
}

.container-max-xl {
  @include media-breakpoint-up(xxl) {
    max-width: map-get($container-max-widths, xl);
  }
}

.forexchurch-tile {
  display: flex;
  gap: $spacer;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $spacer;
  background-color: $white;
  border-radius: 1.5rem;
}

.forexchurch-anchor-offset {
  &::before {
    display: block;
    height: map-get($spacers, "navbar");
    margin-top: map-get($spacers, "navbar") * -1;
    visibility: hidden;
    content: "";
  }
}
