.py-section {
  // TODO: refactor
  // padding-top: map-get($spacers, '64px');
  // padding-bottom: map-get($spacers, '64px');

  &-lg {
    padding-top: map-get($spacers, "72px");
    padding-bottom: map-get($spacers, "72px");
  }
}

.container-max-xl {
  @include media-breakpoint-up(xxl) {
    max-width: map-get($container-max-widths, xl);
  }
}
