<section class='py-section'>
    <div class='container-md container-max-xl'>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <h2 class="display-2">Alpine.js test</h2>
            </div>
        </div>

        {# <div x-data="{ test: 'Alpine.js is working!' }" x-text="test" class='bg-tertiary-light p-5 rounded-4 mb-5'></div> #}
        {% include "components/load-breweries-mock.njk" %}

        <div class="rounded-3 overflow-hidden">
            <div x-data="tabulatorMock()" x-init="initTable">
                <div id="example-table"></div>
            </div>
        </div>
    </div>
</section>