<section class='py-section bg-tertiary-light position-relative'>
    <img src="/img/green_illustration.svg" class="d-none d-md-block position-absolute top-0 start-0 mt-72px pt-72px"/>
    <img src="/img/green_illustration_right.svg" class="d-none d-md-block position-absolute top-0 end-0 mt-72px"/>

    <div class='container-md container-max-xl position-relative'>
        <h2 class="display-2 mb-32px">
            Best Brokers<br/>
            <span class="fs-3 text-tertiary">from Australia</span>
        </h2>

        {% set slidesData = collections["top brokers"] %}
        {% include "components/swiper.njk" %}
    </div>
</section>