<section class='py-section position-relative'>
    <div class='container container-max-xl'>
        <div class="row">
            <div class="col-lg-7 pe-lg-48px">
                <div x-data="{ open: 1 }" class="accordion mb-32px" id="wizardStep1">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button @click="open = open === 1 ? 0 : 1" class="accordion-button fw-medium" :class="{'collapsed': open !== 1}" type="button" aria-expanded="open === 1" aria-controls="collapseOne">
                                1) Where do you live?
                            </button>
                        </h2>
                        <div :id="'collapseOne'" class="accordion-collapse collapse" :class="{'show': open === 1}" data-bs-parent="#wizardStep1">
                            <div class="accordion-body">
                                <a href="#" class="btn btn-underline mb-24px">
                                    <span>More info</span>
                                    <svg class="text-tertiary ms-1" aria-hidden="true" width="24" height="24">
                                        <use href="/img/icons/symbol/svg/sprite.css.svg#info-circle"></use>
                                    </svg>
                                </a>
                                <div x-data="countriesDropdown()">
                                    <select x-ref="select" class="form-select rounded-pill" aria-label="Country">
                                        <template x-for="(country, index) in countries" :key="index">
                                            <!-- Use the innerHTML to combine emoji and country name -->
                                            <option :value="country.alpha2Code" x-html="country.name + ' ' + country.flag"></option>
                                        </template>
                                    </select>
                                </div>
                                <p class="mb-0 text-end">
                                    <a href="#" class="btn btn-primary mt-16px">
                                        <span>Next</span>
                                        <svg class="ms-1" aria-hidden="true" width="24" height="24">
                                            <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                                        </svg>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div x-data="{ open: 0 }" class="accordion mb-32px" id="wizardStep2">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button @click="open = open === 1 ? 0 : 1" class="accordion-button fw-medium" :class="{'collapsed': open !== 1}" type="button" aria-expanded="open === 1" aria-controls="collapseOne">
                                2) What do you want to trade?
                            </button>
                        </h2>
                        <div :id="'collapseOne'" class="accordion-collapse collapse" :class="{'show': open === 1}" data-bs-parent="#wizardStep1">
                            <div class="accordion-body">
                                <a href="#" class="btn btn-underline mb-24px">
                                    <span>More info</span>
                                    <svg class="text-tertiary ms-1" aria-hidden="true" width="24" height="24">
                                        <use href="/img/icons/symbol/svg/sprite.css.svg#info-circle"></use>
                                    </svg>
                                </a>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="tradeOption1">
                                    <label class="form-check-label" for="tradeOption1">
                                        Stocks and ETFs (e.g. Apple or Tesla shares)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="tradeOption2" checked>
                                    <label class="form-check-label" for="tradeOption2">
                                        Forex (e.g. EURUSD or GBPUSD)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="tradeOption3">
                                    <label class="form-check-label" for="tradeOption3">
                                        Options and futures (e.g. SPDR S&P 500 ETF Trust or Invesco QQQ Trust)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="tradeOption4">
                                    <label class="form-check-label" for="tradeOption4">Funds (e.g. BlackRock Equity Dividend Fund)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="tradeOption5">
                                    <label class="form-check-label" for="tradeOption5">Cryptos (e.g. Bitcoin or Ethereum)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="tradeOption6">
                                    <label class="form-check-label" for="tradeOption6">CFDs (e.g. Apple share CFD)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="tradeOption7">
                                    <label class="form-check-label" for="tradeOption7">I don’t know</label>
                                </div>

                                <div class="d-flex align-items-center justify-content-between mt-16px">
                                    <a href="#" class="btn btn-primary-outline bg-white">
                                        <svg class="ms-1" aria-hidden="true" width="24" height="24">
                                            <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-left"></use>
                                        </svg>
                                        <span>Back</span>
                                    </a>

                                    <div>
                                        <strong>2/</strong>
                                        <span class="text-muted">4 Steps</span>
                                    </div>

                                    <a href="{{ item.data.permalink }}" class="btn btn-primary">
                                        <span>Next</span>
                                        <svg class="ms-1" aria-hidden="true" width="24" height="24">
                                            <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div x-data="{ open: 0 }" class="accordion mb-32px" id="wizardStep3">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button @click="open = open === 1 ? 0 : 1" class="accordion-button fw-medium" :class="{'collapsed': open !== 1}" type="button" aria-expanded="open === 1" aria-controls="collapseOne">
                                3) What is your level with trading and investing?
                            </button>
                        </h2>
                        <div :id="'collapseOne'" class="accordion-collapse collapse" :class="{'show': open === 1}" data-bs-parent="#wizardStep1">
                            <div class="accordion-body">
                                <a href="#" class="btn btn-underline mb-24px">
                                    <span>More info</span>
                                    <svg class="text-tertiary ms-1" aria-hidden="true" width="24" height="24">
                                        <use href="/img/icons/symbol/svg/sprite.css.svg#info-circle"></use>
                                    </svg>
                                </a>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tradingLevel" id="tradeLevelOption1">
                                    <label class="form-check-label" for="tradeLevelOption1">
                                        I am a <strong>beginner</strong> with no prior experience
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tradingLevel" id="tradeLevelOption2" checked>
                                    <label class="form-check-label" for="tradeLevelOption2">
                                        I have already carried out a <strong>few basic transactions</strong> before
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tradingLevel" id="tradeLevelOption3" checked>
                                    <label class="form-check-label" for="tradeLevelOption3">
                                        I <strong>have experience</strong> in multiple products and diverse trading strategies
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tradingLevel" id="tradeLevelOption4" checked>
                                    <label class="form-check-label" for="tradeLevelOption4">
                                        <strong>Completely confident</strong> with a lot of knowledge
                                    </label>
                                </div>

                                <div class="d-flex align-items-center justify-content-between mt-16px">
                                    <a href="#" class="btn btn-primary-outline bg-white">
                                        <svg class="ms-1" aria-hidden="true" width="24" height="24">
                                            <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-left"></use>
                                        </svg>
                                        <span>Back</span>
                                    </a>

                                    <div>
                                        <strong>3/</strong>
                                        <span class="text-muted">4 Steps</span>
                                    </div>

                                    <a href="{{ item.data.permalink }}" class="btn btn-primary">
                                        <span>Next</span>
                                        <svg class="ms-1" aria-hidden="true" width="24" height="24">
                                            <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div x-data="{ open: 0 }" class="accordion" id="wizardStep4">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button @click="open = open === 1 ? 0 : 1" class="accordion-button fw-medium" :class="{'collapsed': open !== 1}" type="button" aria-expanded="open === 1" aria-controls="collapseOne">
                                4) How much is your capital?
                            </button>
                        </h2>
                        <div :id="'collapseOne'" class="accordion-collapse collapse" :class="{'show': open === 1}" data-bs-parent="#wizardStep1">
                            <div class="accordion-body">
                                <a href="#" class="btn btn-underline mb-24px">
                                    <span>More info</span>
                                    <svg class="text-tertiary ms-1" aria-hidden="true" width="24" height="24">
                                        <use href="/img/icons/symbol/svg/sprite.css.svg#info-circle"></use>
                                    </svg>
                                </a>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tradingCapital" id="tradeCapitalOption1">
                                    <label class="form-check-label" for="tradeCapitalOption1">
                                        Less than $100
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tradingCapital" id="tradeCapitalOption2" checked>
                                    <label class="form-check-label" for="tradeCapitalOption2">
                                        $100-$500
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tradingCapital" id="tradeCapitalOption3" checked>
                                    <label class="form-check-label" for="tradeCapitalOption3">
                                        $500-$1000
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="tradingCapital" id="tradeCapitalOption4" checked>
                                    <label class="form-check-label" for="tradeCapitalOption4">
                                        More than $1000
                                    </label>
                                </div>

                                <div class="d-flex align-items-center justify-content-between mt-16px">
                                    <a href="#" class="btn btn-primary-outline bg-white">
                                        <svg class="ms-1" aria-hidden="true" width="24" height="24">
                                            <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-left"></use>
                                        </svg>
                                        <span>Back</span>
                                    </a>

                                    <div>
                                        <strong>4/</strong>
                                        <span class="text-muted">4 Steps</span>
                                    </div>

                                    <a href="{{ item.data.permalink }}" class="btn btn-primary">
                                        <span>Continue</span>
                                        <svg class="ms-1" aria-hidden="true" width="24" height="24">
                                            <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="forexchurch-tile shadow-lg flex-column align-items-stretch">
                    <div class="bg-primary position-relative rounded-top-24px mt-n16px mx-n16px py-3">
                        <svg class="position-absolute top-0 start-50 translate-middle" aria-hidden="true" width="44" height="44">
                            <use href="/img/icons/symbol/svg/sprite.css.svg#star-hexagon"></use>
                        </svg>
                        <img src="/img/tile-header.svg" aria-hidden="true" alt='background' width="278" height="44" class=""/>
                        <h3 class="text-center fs-7 text-white position-absolute bottom-0 start-50 translate-middle mb-0">Top Brokers for you!<br/>
                            <span class="fs-8">the results of your matches</span></h3>
                    </div>

                    {% set categoryPages = collections["by category"] %}
                    {% for item in categoryPages.slice(0, 3) %}
                        <div class="d-flex flex-column flex-sm-row align-items-center break-inside-avoid-column">
                            <div class="d-flex align-items-center w-100 me-16px">
                                {# <div class="rounded-4 p-2 shadow-sm d-flex align-items-center justify-content-center me-3"> #}
                                <img src="{{ item.data.eleventyNavigation.logo | default('/img/favicon.svg') }}" alt='logo' width='64' height='64' class="flex-shrink-0 object-fit-contain me-3"/>
                                {# </div> #}
                                <div>
                                    <h6 class="fw-medium mb-0">{{ item.data.title }}</h6>
                                    {% include "components/star-rating-short.njk" %}
                                </div>
                            </div>
                            <div>
                                <a href="{{ item.data.permalink }}" class="btn btn-primary w-100 mb-8px">
                                    <span>Visit Broker</span>
                                    <svg class="ms-1" aria-hidden="true" width="24" height="24">
                                        <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                                    </svg>
                                </a>
                                <a href="{{ item.data.permalink }}" class="btn btn-underline">
                                    <span>Read Review</span>
                                    <svg class="text-tertiary ms-1" aria-hidden="true" width="24" height="24">
                                        <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>