<section class='py-section position-relative'>
    <div class='container container-max-xl'>
        <div class="row">
            <div class="col-lg-6 pe-lg-48px">
                Where do you live?
            </div>
            <div class="col-lg-6">
                {% set categoryPages = collections["by category"] %}
                {% for item in categoryPages.slice(0, 3) %}
                    <div class="forexchurch-tile d-flex flex-column flex-sm-row align-items-center break-inside-avoid-column mb-16px">
                        <div class="d-flex align-items-center w-100">
                            {# <div class="rounded-4 p-2 shadow-sm d-flex align-items-center justify-content-center me-3"> #}
                            <img src="{{ item.data.eleventyNavigation.logo | default('/img/favicon.svg') }}" alt='logo' width='64' height='64' class="flex-shrink-0 object-fit-contain me-3"/>
                            {# </div> #}
                            <h6 class="fw-medium mb-0">{{ item.data.title }}</h6>
                        </div>
                        <div>
                            <a href="{{ item.data.permalink }}" class="btn btn-primary w-100 mb-8px">
                            Visit Broker</a>
                            <a href="{{ item.data.permalink }}" class="link-arrow fw-medium ms-32px">
                                <span>Read Review</span>
                                <svg class="text-tertiary" aria-hidden="true" width="24" height="24">
                                    <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <a href="/forex-brokers/" class="link-arrow fw-medium">
                    <span>Show all</span>
                    <svg class="text-tertiary" aria-hidden="true" width="24" height="24">
                        <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>