<section class='py-section'>
    <div class='container-md container-max-xl'>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <h2 class="display-2">Side By Side Forex Broker Comparison</h2>
                <p class="mb-24px">On this page you can conduct a side-by-side Forex Broker Comparison. Simply select up to 3 Forex Brokers from the drop down menus to compare features for each broker simultaneously. To view more detailed information, visit each brokers detail page.</p>
                <a href="#" class="btn btn-primary mb-5">
                    <span>Compare Brokers</span>
                </a>
            </div>
        </div>

        <div class="table-responsive table-header-light rounded-3 overflow-hidden mb-32px">
            <div x-data="sideBySideBrokerComparisonMock()" x-init="getSideBySideBrokerComparisonMock()">
                <table class="table table-striped table-highlight w-full fs-7 mb-0">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <template x-for="(broker, index) in sideBySideBrokers" :key="index">
                                <th :class="{ 'border-3 border-tertiary border-bottom-0': index === 0 }">
                                    <div class="text-center">
                                        {# <div class="rounded-4 p-2 shadow-sm d-flex align-items-center justify-content-center me-3"> #}
                                        <img :src="broker.logo || '/img/favicon.svg'" alt="logo" width="64" height="64" class="flex-shrink-0 object-fit-contain mb-2"/>
                                        {# </div> #}
                                        <div class="fw-medium mb-40px" x-text="broker.name"></div>
                                    </div>
                                </th>
                            </template>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td class="text-start">Type of Broker</td>
                            <template x-for="(broker, index) in sideBySideBrokers" :key="index">
                                <td :class="{ 'border-3 border-tertiary border-top-0 border-bottom-0': index === 0 }" x-text="broker['Type of Broker']"></td>
                            </template>
                        </tr>
                        <tr>
                            <td class="text-start">Number of Pairs</td>
                            <template x-for="(broker, index) in sideBySideBrokers" :key="index">
                                <td :class="{ 'border-3 border-tertiary border-top-0 border-bottom-0': index === 0 }" x-text="broker['Number of Pairs']"></td>
                            </template>
                        </tr>
                        <tr>
                            <td class="text-start">Minimum Deposit</td>
                            <template x-for="(broker, index) in sideBySideBrokers" :key="index">
                                <td :class="{ 'border-3 border-tertiary border-top-0 border-bottom-0': index === 0 }" x-text="broker['Minimum Deposit']"></td>
                            </template>
                        </tr>
                        <tr>
                            <td class="text-start">API Solutions</td>
                            <template x-for="(broker, index) in sideBySideBrokers" :key="index">
                                <td :class="{ 'border-3 border-tertiary border-top-0 border-bottom-0': index === 0 }">
                                    <div class="d-flex justify-content-center">
                                        <div class="text-start" style="min-width: 55px">
                                            <template x-if="broker['API Solutions'] === 'Yes'">
                                                <svg class="me-2" aria-hidden="true" width="20" height="20">
                                                    <use href="/img/icons/symbol/svg/sprite.css.svg#compare-positive-circle"></use>
                                                </svg>
                                            </template>
                                            <template x-if="broker['API Solutions'] === 'No'">
                                                <svg class="me-2" aria-hidden="true" width="20" height="20">
                                                    <use href="/img/icons/symbol/svg/sprite.css.svg#compare-negative-circle"></use>
                                                </svg>
                                            </template>
                                            <span x-text="broker['API Solutions']"></span>
                                        </div>
                                    </div>
                                </td>
                            </template>
                        </tr>
                        <tr>
                            <td class="text-start">VPS Offered</td>
                            <template x-for="(broker, index) in sideBySideBrokers" :key="index">
                                <td :class="{ 'border-3 border-tertiary border-top-0 border-bottom-0': index === 0 }">
                                    <div class="d-flex justify-content-center">
                                        <div class="text-start" style="min-width: 55px">
                                            <template x-if="broker['VPS Offered'] === 'Yes'">
                                                <svg class="me-2" aria-hidden="true" width="20" height="20">
                                                    <use href="/img/icons/symbol/svg/sprite.css.svg#compare-positive-circle"></use>
                                                </svg>
                                            </template>
                                            <template x-if="broker['VPS Offered'] === 'No'">
                                                <svg class="me-2" aria-hidden="true" width="20" height="20">
                                                    <use href="/img/icons/symbol/svg/sprite.css.svg#compare-negative-circle"></use>
                                                </svg>
                                            </template>
                                            <span x-text="broker['VPS Offered']"></span>
                                        </div>
                                    </div>
                                </td>
                            </template>
                        </tr>
                        <tr>
                            <td class="text-start"></td>
                            <template x-for="(broker, index) in sideBySideBrokers" :key="index">
                                <td :class="{ 'border-3 border-tertiary border-top-0': index === 0 }">
                                    <a :href="broker.url" class="btn btn-primary mt-4 mb-3">
                                        <span>Visit broker</span>
                                    </a>
                                </td>
                            </template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>