<div class="tab-pane fade py-16px" :class="{ 'show active': activeTab === 'by-the-numbers-tab-pane' }" id="by-the-numbers-tab-pane" role="tabpanel" aria-labelledby="by-the-numbers-tab" tabindex="0">
    <div class="row">
        <div class="col-lg-8">
            <section class="py-section">
                <h2 id="company-profile" class="forexchurch-anchor-offset">Company Profile</h2>
                {% include "components/table-company-profile-mock.njk" %}
            </section>

            <section class="py-section">
                <h2 id="account-details" class="forexchurch-anchor-offset">Account Details</h2>
                {% include "components/table-account-details-mock.njk" %}
            </section>

            <section class="py-section">
                <h2 id="support-options" class="forexchurch-anchor-offset">Support Options</h2>
                {% include "components/table-support-options-mock.njk" %}
            </section>

            <section class="py-section">
                <h2 id="trading-platforms-and-conditions" class="forexchurch-anchor-offset">Trading Platforms and Conditions</h2>
                {% include "components/table-trading-platforms-and-conditions-mock.njk" %}
            </section>

            <section class="py-section">
                <h2 id="cfd-instruments" class="forexchurch-anchor-offset">CFD Instruments</h2>
                {% include "components/table-cfd-instruments-mock.njk" %}
            </section>

            <section class="py-section">
                <h2 id="non-cfd-instruments" class="forexchurch-anchor-offset">Non-CFD Instruments</h2>
                {% include "components/table-non-cfd-instruments-mock.njk" %}
            </section>

            <section class="py-section">
                <h2 id="real-stock-fees" class="forexchurch-anchor-offset">Real Stock Fees</h2>
                {% include "components/table-real-stock-fees-mock.njk" %}
            </section>

            <section class="py-section">
                <h2 id="cfd-fees" class="forexchurch-anchor-offset">CFD Fees</h2>
                {% include "components/table-cfd-fees-mock.njk" %}
                <p>*Fees and spreads are based on <strong>eToro Standard account</strong></p>
            </section>

            <section class="py-section">
                <h2 id="non-trading-fees" class="forexchurch-anchor-offset">Non-trading Fees</h2>
                {% include "components/table-non-trading-fees-mock.njk" %}
            </section>
        </div>
        <div class="col-lg-4">
            <div class="position-sticky top-navbar pt-32px">
                {% include "components/top-brokers-for-you-compact.njk" %}
            </div>
        </div>
    </div>
</div>