<div class="tab-pane fade py-16px" :class="{ 'show active': activeTab === 'live-swaps-tab-pane' }" id="live-swaps-tab-pane" role="tabpanel" aria-labelledby="live-swaps-tab" tabindex="0">
  TODO: tab live swaps
</div>