<div class="tab-pane fade py-16px" :class="{ 'show active': activeTab === 'by-the-numbers-tab-pane' }" id="by-the-numbers-tab-pane" role="tabpanel" aria-labelledby="by-the-numbers-tab" tabindex="0">
    <div class="row">
        <div class="col-lg-8">
            <section class="py-section">
                <h2 id="company-profile" class="forexchurch-anchor-offset">Company Profile</h2>
                {# <div x-data="loadBreweries()" x-init="getBreweries"> #}
                <div x-data="loadBreweriesMock()" x-init="getBreweriesMock">
                    <div class="table-responsive">
                        <table class="table table-striped w-full">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>City</th>
                                    <th>State</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template x-for="brewery in breweries" :key="brewery.id">
                                    <tr>
                                        <td x-text="brewery.name"></td>
                                        <td x-text="brewery.brewery_type"></td>
                                        <td x-text="brewery.city"></td>
                                        <td x-text="brewery.state"></td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="py-section">
                <h2 id="account-details" class="forexchurch-anchor-offset">Account Details</h2>
                {# <div x-data="loadBreweries()" x-init="getBreweries"> #}
                <div x-data="loadBreweriesMock()" x-init="getBreweriesMock">
                    <div class="table-responsive">
                        <table class="table table-striped w-full">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>City</th>
                                    <th>State</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template x-for="brewery in breweries" :key="brewery.id">
                                    <tr>
                                        <td x-text="brewery.name"></td>
                                        <td x-text="brewery.brewery_type"></td>
                                        <td x-text="brewery.city"></td>
                                        <td x-text="brewery.state"></td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="py-section">
                <h2 id="support-options" class="forexchurch-anchor-offset">Support Options</h2>
                {# <div x-data="loadBreweries()" x-init="getBreweries"> #}
                <div x-data="loadBreweriesMock()" x-init="getBreweriesMock">
                    <div class="table-responsive">
                        <table class="table table-striped w-full">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>City</th>
                                    <th>State</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template x-for="brewery in breweries" :key="brewery.id">
                                    <tr>
                                        <td x-text="brewery.name"></td>
                                        <td x-text="brewery.brewery_type"></td>
                                        <td x-text="brewery.city"></td>
                                        <td x-text="brewery.state"></td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="py-section">
                <h2 id="trading-platforms-and-conditions" class="forexchurch-anchor-offset">Trading Platforms and Conditions</h2>
                {# <div x-data="loadBreweries()" x-init="getBreweries"> #}
                <div x-data="loadBreweriesMock()" x-init="getBreweriesMock">
                    <div class="table-responsive">
                        <table class="table table-striped w-full">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>City</th>
                                    <th>State</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template x-for="brewery in breweries" :key="brewery.id">
                                    <tr>
                                        <td x-text="brewery.name"></td>
                                        <td x-text="brewery.brewery_type"></td>
                                        <td x-text="brewery.city"></td>
                                        <td x-text="brewery.state"></td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            {% include "components/top-brokers-for-you.njk" %}
        </div>
    </div>
</div>