<div class="tab-pane fade py-16px" :class="{ 'show active': activeTab === 'live-spread-tab-pane' }" id="live-spread-tab-pane" role="tabpanel" aria-labelledby="live-spread-tab" tabindex="0">
    TODO: tab live spread
</div>