<div class="tab-pane fade py-16px" :class="{ 'show active': activeTab === 'by-the-numbers-tab-pane' }" id="by-the-numbers-tab-pane" role="tabpanel" aria-labelledby="by-the-numbers-tab" tabindex="0">
    <div class="row">
        <div class="col-lg-8">
            <section class="py-section">
                <h2 id="company-profile" class="forexchurch-anchor-offset">Company Profile</h2>
                {% include "components/load-breweries-mock.njk" %}
            </section>

            <section class="py-section">
                <h2 id="account-details" class="forexchurch-anchor-offset">Account Details</h2>
                {% include "components/load-breweries-mock.njk" %}
            </section>

            <section class="py-section">
                <h2 id="support-options" class="forexchurch-anchor-offset">Support Options</h2>
                {% include "components/load-breweries-mock.njk" %}
            </section>

            <section class="py-section">
                <h2 id="trading-platforms-and-conditions" class="forexchurch-anchor-offset">Trading Platforms and Conditions</h2>
                {% include "components/load-breweries-mock.njk" %}
            </section>
        </div>
        <div class="col-lg-4">
            <div class="position-sticky top-navbar pt-32px">
                {% include "components/top-brokers-for-you-compact.njk" %}
            </div>
        </div>
    </div>
</div>