<section class='py-section position-relative'>
    <div class='container container-max-xl'>
        <h2 class="mb-48px">Top Brokers by Category</h2>

        <div class="row">
            <div class="col-lg-6 pe-lg-48px">
                <select id="select-top-brokers-by-category" class="form-select rounded-pill mb-24px" aria-label="Select Category">
                    {% set categoryPages = collections["by category"] %}
                    {% for item in categoryPages %}
                        <option>{{ item.data.title }}</option>
                    {% endfor %}
                </select>

                <p>
                    <small>MetaTrader 4 (MT4) is a versatile electronic trading platform for online retail foreign exchange traders. It was developed by Russia based MetaQuotes Software and the first version was released in 2005. Since its inception, MetaTrader 4 has established itself to be the most feature-rich trading platform that contributed to its popularity among Forex traders.</small>
                </p>
            </div>
            <div class="col-lg-6">
                {% for item in categoryPages.slice(0, 3) %}
                    <div class="forexchurch-tile shadow-lg d-flex flex-column flex-sm-row align-items-center break-inside-avoid-column mb-16px">
                        <div class="d-flex align-items-center w-100">
                            {# <div class="rounded-4 p-2 shadow-sm d-flex align-items-center justify-content-center me-3"> #}
                            <img src="{{ item.data.eleventyNavigation.logo | default('/img/favicon.svg') }}" alt='logo' width='64' height='64' class="flex-shrink-0 object-fit-contain me-3"/>
                            {# </div> #}
                            <div>
                                <h6 class="fw-medium mb-0">{{ item.data.title }}</h6>
                                {% include "components/star-rating.njk" %}
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="{{ item.data.permalink }}" class="btn btn-primary w-100 mb-8px">
                            Visit Broker</a>
                            <a href="{{ item.data.permalink }}" class="btn btn-underline py-0">
                                <span>Read Review</span>
                                <svg class="text-tertiary ms-1" aria-hidden="true" width="24" height="24">
                                    <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <a href="/forex-brokers/" class="btn btn-underline px-0">
                    <span>Show all</span>
                    <svg class="text-tertiary ms-1" aria-hidden="true" width="24" height="24">
                        <use href="/img/icons/symbol/svg/sprite.css.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>