---
title: Broker Comparison
subtitle: Select brokers to compare
excerpt: >
  This online broker comparison is designed to bring more clarity into your broker selection. 
  You can compare online brokerages side by side across X main categories that saves you tens of hours of research.
layout: layouts/base.njk
permalink: /broker-comparison/
tags: ["top level menu"]
eleventyNavigation:
  key: Broker Comparison
  order: 2
---

<h1 class="visually-hidden">{{title}}</h1>
{% include "components/breadcrumb.njk" %}

<section class='pb-section' x-data="brokerComparisonTable()" x-init="initTable">
    <div class='container-md container-max-xl'>
        {% include "components/broker-comparison-table.njk" %}
    </div>
</section>

<div class='py-section'>
    &nbsp;
    {# NOTE: placeholder to offset the above table's negative margin bottom #}
</div>