---
title: Broker Comparison
excerpt: "TODO"
layout: layouts/base.njk
permalink: /broker-comparison/
tags: ["top level menu"]
eleventyNavigation:
  key: Broker Comparison
  order: 2
---

{% include "components/breadcrumb.njk" %}

<section class='py-section'>
    <div class='container'>
        <h1>{{title}}</h1>
        <div class='row'>
            <div class='col-lg-8'>
                <h2>Select brokers to compare </h2>
                <p>This online broker comparison is designed to bring more clarity into your broker selection. </p>
                <p>You can compare online brokerages side by side across X main categories that saves you tens of hours of research.</p>
            </div>
            <div class='col-lg-4'></div>
        </div>
    </div>
</section>