---
title: Broker Comparison
subtitle: Select brokers to compare
excerpt: >
  This online broker comparison is designed to bring more clarity into your broker selection. 
  You can compare online brokerages side by side across X main categories that saves you tens of hours of research.
layout: layouts/base.njk
permalink: /broker-comparison/
tags: ["top level menu"]
eleventyNavigation:
  key: Broker Comparison
  order: 2
---

<h1 class="visually-hidden">{{title}}</h1>
{% include "components/breadcrumb.njk" %}

<section class='pb-section' x-data="brokerComparisonTable({ maxSelectableBrokers: 'unlimited' })" x-init="initTable">
  <div class='px-12px'>
    <div class='d-flex flex-column flex-lg-row gap-3 pt-16px'>
      <div class='dropdown-max-multiple'>
        {% include "components/dropdown-selected-brokers.njk" %}
      </div>
      <div class=''>
        {% include "components/dropdown-countries.njk" %}
      </div>

      <div class='ms-lg-auto'>
        <select class="form-select rounded-pill" aria-label="Order by">
          <option selected>Order by</option>
          <option>Rating</option>
          <option>Popularity</option>
          <option>Pricing fees</option>
        </select>
      </div>
    </div>
    <hr class="border border-light opacity-100 w-100"/>
    <div class='d-flex flex-column flex-lg-row gap-3'>
      <div class=''>
        {% include "components/dropdown-invest-in.njk" %}
      </div>
      <div>
        <select class="form-select rounded-pill" aria-label="Amount to invest">
          <option selected>Amount to invest</option>
          <option>Less than $100</option>
          <option>$100-$500</option>
          <option>$500-$1000</option>
          <option>More than $1000</option>
        </select>
      </div>
      <div>
        <select class="form-select rounded-pill" aria-label="Base currency">
          <option selected>Base currency</option>
          <option>USD</option>
          <option>EUR</option>
          <option>GBP</option>
          <option>CAD</option>
          <option>JPY</option>
        </select>
      </div>
      <div class=''>
        {% include "components/dropdown-deposit-with.njk" %}
      </div>

      <div class='ms-lg-auto'>
        <button type="button" class="btn btn-outline-primary w-100 w-lg-auto">
            Clear filters
      </button>
      </div>
    </div>
    <hr class="border border-light opacity-100 w-100"/>
    {% include "components/broker-comparison-table.njk" %}
  </div>
</section>

<div class='py-section'>
    &nbsp;
    {# NOTE: placeholder to offset the above table's negative margin bottom #}</div>