---
title: UI Library
date: 2023-12-23
excerpt: "UI Library and markup snippets for copy-paste"
coverPhoto: {
                "webP": "/img/pexels-rdne-stock-project-8474487-640x424.webp",
                "webP2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.webp",
                "jpg": "/img/pexels-rdne-stock-project-8474487-640x424.jpg",
                "jpg2x": "/img/pexels-rdne-stock-project-8474487-640x424@2x.jpg",
                "height": "large",
                "figureBackgroundColor": "bg-success",
                "figcaption": "Back View of Astronauts Holding Hands"
            }
layout: layouts/ui-library.njk
permalink: /ui-library/
includeSelf: false
eleventyExcludeFromCollections: true
---

<div class='py-section-sm bg-dark text-light'>
    <div class='forexchurch-container'>
        <div class="forexchurch-grid">
            <div class="forexchurch-col-6">
                <h1 class="h2">{{ title }}</h1>
                <p class="mb-section-sm">Copy-paste the following code snippets (or in more complex layouts peek inside the source code). Please note that these are not components, rather markup snippets. In case you do not find what you are looking for, inspect the code and modify it following the established patterns. Please read the <a href="#" class="text-primary link-underline">README.md</a> for more information.</p>
                {# NOTE: dummy content for 'cap height' trial/error fine-tuning
                <p class="">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed mollis ligula, quis lacinia lacus. Praesent imperdiet nisl quis erat lobortis, nec vestibulum justo fermentum. Quisque volutpat, velit et tempor interdum, nisl diam blandit dolor, in pharetra nunc mi et nulla. Pellentesque et enim luctus, congue erat ut, porta elit. Cras vehicula turpis ut quam sagittis commodo. Etiam faucibus magna elit, eu consequat velit ultrices ut. Vestibulum pharetra diam leo, at blandit turpis fringilla sit amet. Maecenas ut aliquam quam. Cras quis augue id lorem accumsan rhoncus. Proin sollicitudin ultrices ullamcorper.
                </p>
                <p class="">
                Etiam a lectus nibh. Phasellus euismod turpis laoreet dapibus imperdiet. Nulla dignissim ipsum sit amet metus hendrerit bibendum. Phasellus sit amet sem sit amet est finibus convallis. Ut nec tempor velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Integer mollis, massa et lacinia lobortis, nulla nunc sagittis arcu, eget suscipit dolor justo varius risus.
                </p>
                <p class="">
                Nam aliquam ultricies eros id aliquam. Proin vel ante quis nisi euismod sodales. Aliquam eu quam imperdiet, varius nisl ut, placerat nisi. Cras vel sapien nisl. Suspendisse non sem sit amet libero congue finibus. Quisque semper sem at lacus semper, vel tempus justo commodo. Ut egestas convallis felis, in finibus diam auctor nec.
                </p>
                <p class="">
                Vestibulum accumsan neque tellus, vel vehicula elit pharetra in. Mauris consectetur urna ut pellentesque consectetur. Suspendisse sagittis, tortor sit amet dictum faucibus, orci quam convallis massa, in convallis sapien ex in nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed lacus nunc, eleifend id augue vitae, ultrices lobortis purus. Integer convallis eros a tellus vulputate laoreet. Donec ullamcorper augue a lorem blandit finibus. Curabitur sem diam, tempus sit amet risus eget, consequat venenatis libero. Nullam eu erat quis nibh interdum efficitur a in magna. Vivamus in augue quis quam pulvinar eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus odio nisl, malesuada eu auctor vitae, sodales eget odio. Duis egestas finibus porttitor. Nam ac ante fermentum metus fermentum dictum. Quisque sed dictum leo, vitae porttitor elit. Morbi bibendum massa eget purus imperdiet laoreet.
                </p>
                <p class="">
                Suspendisse interdum ligula non nunc sagittis accumsan. Duis enim metus, consequat non scelerisque et, dictum eget odio. Etiam eget nunc turpis. Duis nec sapien non sapien dictum rutrum. Vestibulum sapien metus, accumsan id blandit vitae, vehicula vitae neque. Vestibulum mattis, dolor quis molestie imperdiet, dui felis pellentesque metus, ut dapibus sem justo sed erat. Proin pharetra faucibus sapien quis ultricies. Integer vulputate rutrum hendrerit. Fusce condimentum porta magna, non ornare urna elementum condimentum. Vestibulum imperdiet consequat metus, nec ultricies massa posuere vitae. Aenean pharetra posuere lectus eu dictum. Nullam convallis vitae mi id vulputate. Pellentesque fermentum eleifend velit, sed pellentesque magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce id viverra tellus.
                </p> #}
            </div>
        </div>
    </div>

    <div class='forexchurch-container py-section-sm'>
        <div class="forexchurch-grid gap-spacer-2">
            <div class="forexchurch-col-6">
                <h2 class="font-serif h3 normal-case">Colors</h2>
            </div>
            <div class="forexchurch-col-1 text-spacer-1 leading-none bg-primary text-dark p-spacer-1">
                .bg-primary
            </div>
            <div class="forexchurch-col-1 text-spacer-1 leading-none bg-success text-dark p-spacer-1">
                .bg-success
            </div>
            <div class="forexchurch-col-1 text-spacer-1 leading-none bg-error text-dark p-spacer-1">
                .bg-error
            </div>
            <div class="forexchurch-col-1 text-spacer-1 leading-none bg-info text-dark p-spacer-1">
                .bg-info
            </div>
            <div class="forexchurch-col-1 text-spacer-1 leading-none bg-light text-dark p-spacer-1">
                .bg-light
            </div>
            <div class="forexchurch-col-1 text-spacer-1 leading-none bg-dark text-light p-spacer-1 border border-light">
                .bg-dark
            </div>
            <div class="forexchurch-col-1 text-spacer-1 leading-none bg-warning text-dark p-spacer-1">
                .bg-warning
            </div>
            <div class="forexchurch-col-1 text-spacer-1 leading-none bg-muted text-dark p-spacer-1">
                .bg-muted
            </div>
        </div>
    </div>

    <div class='forexchurch-container py-section-sm'>
        <div class="forexchurch-grid gap-spacer-2">
            <div class="forexchurch-col-6">
                <h2 class="font-serif h3 normal-case mb-spacer-2">Typography</h2>
                <h1>&lt;h1&gt; or .h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                <h1 class="font-serif">&lt;h1 class="font-serif"&gt; Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                <h2>&lt;h2&gt; or .h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                <h2 class="font-serif normal-case">&lt;h2 class="font-serif normal-case"&gt; Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                <h3>&lt;h3&gt; or .h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <h3 class="uppercase">&lt;h3 class="uppercase"&gt; Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p class="text-lg leading-relaxed">&lt;p class="text-lg leading-relaxed"&gt; Lorem ipsum dolor sit amet, <a  href="#" class="text-primary link-underline">consectetur adipiscing</a> elit.</p>
                <p>&lt;p&gt; Lorem ipsum dolor sit amet, <a  href="#" class="text-primary link-underline">consectetur adipiscing</a> elit. Vivamus felis metus, lacinia ut dui sit amet, fermentum vulputate est. Praesent ultrices sagittis risus ut egestas. Mauris urna velit, mattis ac mattis in, pretium vitae neque. Sed ac aliquet nisi, sit amet egestas nibh. Phasellus eu erat ultricies, gravida augue sit amet, maximus ex. Pellentesque vel orci eu lectus blandit pellentesque.</p>
                <p class="text-sm">&lt;p class="text-sm"&gt; Lorem ipsum dolor sit amet, <a  href="#" class="text-primary link-underline">consectetur adipiscing</a> elit. Vivamus felis metus, lacinia ut dui sit amet, fermentum vulputate est. Praesent ultrices sagittis risus ut egestas. Mauris urna velit, mattis ac mattis in, pretium vitae neque. Sed ac aliquet nisi, sit amet egestas nibh. Phasellus eu erat ultricies, gravida augue sit amet, maximus ex. Pellentesque vel orci eu lectus blandit pellentesque.</p>
                <ul class="list-greater">
                    <li>&lt;ul class="list-greater"&gt;</li>
                    <li>List item #2</li>
                    <li>List item #3</li>
                </ul>
                <ul class="list-disc">
                    <li>&lt;ul class="list-disc"&gt;</li>
                    <li>List item #2</li>
                    <li>List item #3</li>
                </ul>
            </div>
        </div>
    </div>

    <div class='forexchurch-container pt-section-sm'>
        <div class="forexchurch-grid">
            <div class="forexchurch-col-6">
                {% raw %}
                    <code class="font-mono whitespace-pre-line">
                        &lt;h1 class="sr-only"&gt;Heading for screen readers&lt;/h1>
                    </code>
                {% endraw %}
                <h1 class="sr-only">&lt;h1 class="sr-only"&gt; heading for screen readers</h1>
            </div>
        </div>
    </div>

</div>