---
title: About Us
excerpt: ""
layout: layouts/toc.njk
permalink: /resources/about-us/
footerOrder: 0
eleventyNavigation:
  key: About Us
  excerpt: Who we are, our values, and our mission.
  parent: Resources
  url: /resources/about-us/
  order: 2
  icon: users
tags: ["resources"]
---

<section class="py-section">
  <div class='container-md container-max-xl'>
    <div class="row">
      <div class="col-lg-8">
        <h2>Accurate reviews</h2>
        <p>By answering a few straightforward questions, you can find the appropriate broker within seconds and save yourself from tedious hours of research.</p>
      </div>
      <div class="col-lg-4">
        <img alt="Accurate reviews" loading="lazy" width="450" height="439" decoding="async" data-nimg="1" class="img-fluid" 
          src="https://forexchurch-tau.vercel.app/_next/image?url=%2Fabout1.png&w=1920&q=75">
      </div>
    </div>
  </div>
</section>

<section class="py-section">
  <div class='container-md container-max-xl'>
    <div class="row">
      <div class="col-lg-8 order-lg-2">
        <h2>Real information</h2>
        <p>By answering a few straightforward questions, you can find the appropriate broker within seconds and save yourself from tedious hours of research.</p>
      </div>
      <div class="col-lg-4 order-lg-1">
        <img alt="Accurate reviews" loading="lazy" width="450" height="490" decoding="async" data-nimg="1" class="img-fluid" 
          src="https://forexchurch-tau.vercel.app/_next/image?url=%2Fabout2.png&w=1920&q=75">
      </div>
    </div>
  </div>
</section>

<section class="py-section">
  <div class='container-md container-max-xl'>
    <div class="row">
      <div class="col-lg-8">
        <h2>Expert team in financing</h2>
        <p>By answering a few straightforward questions, you can find the appropriate broker within seconds and save yourself from tedious hours of research.</p>
      </div>
      <div class="col-lg-4">
        <img alt="Accurate reviews" loading="lazy" width="450" height="439" decoding="async" data-nimg="1" class="img-fluid" 
          src="https://forexchurch-tau.vercel.app/_next/image?url=%2Fabout3.png&w=1920&q=75">
      </div>
    </div>
  </div>
</section>