---
title: Our Methodology
subtitle: Our methodology
excerpt: >
  Choosing a forex broker can be one of the most challenging tasks that a forex trader faces. There are dozens and dozens of brokers to choose from, and they vary in many significant ways. For example, different brokers offer different trading platforms, different ways of charging fees, and access to trading different financial assets.
layout: layouts/toc.njk
permalink: /resources/our-methodology/
footerOrder: 1
eleventyNavigation:
  key: Our Methodology
  excerpt: Our approach and the steps we take to deliver exceptional results.
  parent: Resources
  url: /resources/our-methodology/
  order: 3
  icon: methodology
tags: ["resources"]
---

<section class='py-section position-relative zindex-1'>
  <div class='container-md container-max-xl'>
    <div class='row'>
      <div class='col-lg-3'>
        <div class="position-sticky top-navbar pt-16px">
          {% include "components/toc.njk" %}
        </div>
      </div>
      <div class='col-lg-9'>
        <h2 id="our-methodology" class="forexchurch-anchor-offset">Our Methodology</h2>
        <p>We aspire to provide you with the clearest, most objective, and most comprehensive forex brokerreviews possible. We spend several days researching each broker that we review, and they are evaluated on multiple levels. We evaluate them both independently, on their own, and in comparison to other brokerage firms that we have reviewed or are familiar with.</p>
        <p>Hopefully, the information that we provide in our reviews will help you to find the forex broker that best suits your personal needs and wants as a trader.</p>
        <p>Our broker reviews are based on factual information that is checked and double-checked. We glean information about brokers from several sources, including the broker’s web site, our personal experience with the broker, information obtained by reading the comments of clients of the broker in forex broker discussion forums, and information obtained from other broker reviewers.</p>
        <p>We do our best to ensure that we’re giving you an objective view of each broker, one not coloredby any biases such as affiliate relationships. Our reviews are written by financial services industry professionals who have years of experience in forex trading and in using various brokers.</p>
        <p>All the various operational aspects of every broker reviewed are divided into categories of information, such as “Trading Platform(s)”, “Trader Education Resources”, and “Account Types Available”. We also assign a rating of between 0 and 5 (a rating score of 5 being the best possible score) for each category of trader services that a broker offers.</p>
        <p>Our review process is further refined by weighting the various category scores. For example, the fees a broker charges are considered by most forex traders to be significantly more important than bonus promotions the broker may offer. Thus, how a broker scores in the “Fees” category isweighted more heavily than how it scores in the “Promotions/Bonuses” category.</p>
        <p>Here’s a snapshot of our broker review evaluation categories and their respective weighting. The highest weightings are given to a broker’s rating score in the areas of Trading Platforms, Fees, and Trade Execution:</p>
        <p>TODO</p>
      </div>
    </div>
  </div>
</section>