---
title: Fibonacci Calculator
subtitle: Fibonacci Calculator
excerpt: >
  To use the Fibonacci Calculator, first determine whether the trend of the range that you want to derive the Fibonacci levels for is an UPTREND or DOWNTREND. Once you have determined the trend, enter in the High Price and Low Price for the desired range. You can also enter a Custom Price that is used in the determination of the extension Levels - if Custom is left blank, the High and Low values are used instead.
layout: layouts/toc.njk
permalink: /tools/calculators/fibonacci-calculator/
eleventyNavigation:
  key: Fibonacci Calculator
  parent: Calculators
  url: /tools/calculators/fibonacci-calculator/
  icon: fibonacci
tags: ["tools", "calculators"]
---

<section class="py-section">
  <div class='container-md container-max-xl'>
    <div class='row mb-16px'>
      <div class='col-lg-6'>
        <form>
          <div class="mb-3">
            <label for="inputHigh" class="form-label">High (H):</label>
            <input type="text" class="form-control" id="inputHigh" placeholder='Enter "H"'>
          </div>
          <div class="mb-3">
            <label for="inputLow" class="form-label">Low (l):</label>
            <input type="text" class="form-control" id="inputLow" placeholder='Enter "L"'>
          </div>
          <div class="mb-3">
            <label for="inputCustom" class="form-label">Custom (l):</label>
            <input type="text" class="form-control" id="inputCustom" placeholder='Enter "C"'>
          </div>
          <div class="d-flex gap-3 justify-content-end">
            <button type="button" class="btn btn-outline-primary">Reset</button>
            <button type="submit" class="btn btn-primary">Calculate</button>
          </div>
        </form>
      </div>
      <div class='col-lg-6'>
        <h6>All variables are required to be filled in in order to derive the required margin</h6>
      </div>
    </div>
  </div>
</section>

<section class="py-section">
  <div class='container-md container-max-xl'>
    <h2>Forex Trading with Fibonacci Calculator to Stay Ahead of the Curve</h2>
    <p>Fibonacci numbers were introduced to the European academic circle by an Italian mathematician named Leonardo Bigollo Pisano, better known as Fibonacci. He introduced the Indian numerical system in this famous book Liber Abaci (1202). However, the reason Forex traders are grateful to this mathematician is the amazing application of the Fibonacci sequence.</p>
    <p>You can easily apply the Fibonacci sequence in Forex trading with the aid of our Fibonacci Calculator.</p>
  </div>
</section>

<section class='mt-lg-ntabs pb-section position-relative zindex-1'>
  <div class='container-md container-max-xl'>
    <div class='row'>
      <div class='col-lg-3'>
        <div class="position-sticky top-navbar pt-16px">
          {% include "components/toc.njk" %}
        </div>
      </div>
      <div class='col-lg-9'>
        <h2 id="what-is-fibonacci" class="forexchurch-anchor-offset">What is Fibonacci?</h2>
        <p>The Fibonacci sequence is made up of a series of numbers where each number is the sum of two preceding numbers. While the Fibonacci sequence starts from 0, most academic books start the count from 1. However, in trading, the value of 0 is also important and we will discuss it later in the application of the sequence in trading.</p>
        <p>Anyways, the Fibonacci formula is:</p>
        <blockquote class="blockquote bg-light px-24px py-16px border-start border-5 border-tertiary fs-6 fw-medium fst-italic">
          <p>Fn = Fn-1 + Fn-2</p>
        </blockquote>
        <p>So, if n = 1, the Fibonacci formula would formulate the following sequence of numbers:</p>
        <p><strong>1, 1, (1+1) 2, (1+2) 3, (2+3) 5, (3+5) 8, ... 13, 21, 34, 55, 89, 144... and so on.</strong></p>

        <h2 id="why-the-fibonacci-sequence-is-so-important" class="forexchurch-anchor-offset">Why the Fibonacci Sequence is So Important in Trading Forex?</h2>
        <p>The Fibonacci sequence, which is closely related to Golden ratio, is often found in nature and the concept still baffles scientists researching about natural phenomena, such as the evolution of species and plants. For example - to name a few - the Fibonacci sequence can be found in human faces, seed heads, flower petals, tree branches, spiral galaxies, and hurricanes.</p>
        <p>While using Fibonacci levels in trading is not a bulletproof system, the Fibonacci levels often become major support and resistance levels. And, when there is a confluence of Fibonacci levels with historical support and resistance, traders can utilize these levels to pinpoint where the price of a pair might stop and reverse. Furthermore, armed with the knowledge about where key Fibonacci levels are located, you can easily reduce your exposure to a trade or even look for reversal opportunities.</p>
      </div>
    </div>
  </div>
</section>