header {
  a,
  .btn-link {
    font-weight: 500;
    text-decoration: none;
  }
}

.btn-navbar {
  @include media-breakpoint-up(lg) {
    display: inline-flex;
    align-items: center;
    height: map-get($spacers, "navbar");
  }
}

// [data-dropdown-open="false"] {
//   @include media-breakpoint-up(lg) {
//     opacity: 0;
//   }
// }

[data-dropdown-open="true"] {
  @include media-breakpoint-up(lg) {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: map-get($spacers, 4);
    background-color: $white;
    box-shadow: $box-shadow;
    // transition: opacity 0.3s ease-in-out;
    // opacity: 1;
  }
}
