---
title: Cryptocurrency Trading
date: 2019-03-11
author: John Doe
subtitle: Cryptocurrency Trading
excerpt: >
  Lorem ipsum...
layout: layouts/toc.njk
permalink: /resources/news/cryptocurrency-trading/
footerOrder: 4
eleventyNavigation:
  key: Cryptocurrency Trading
  parent: News
  url: /resources/news/cryptocurrency-trading/
tags: ["resources", "news"]
---

<section class='py-section position-relative zindex-1'>
  <div class='container-md container-max-xl'>
    <div class='row'>
      <div class='col-lg-3'>
        <div class="position-sticky top-navbar pt-16px">
          {% include "components/toc.njk" %}
        </div>
      </div>
      <div class='col-lg-9'>
        <h1 id="why-you-should-use-pivot-points-in-forex-trading" class="h2" class="forexchurch-anchor-offset">Why You Should Use Pivot Points in Forex Trading</h1>
        <p>Unless you are a novice Forex trader, you have probably heard about the concept of self-fulfilling prophecy. A perfect example of a self-fulfilling prophecy would be: if most traders believe the price would go up and bid up the price, the price ends up going - you guessed it right - up.</p>
        <p>TODO</p>
      </div>
    </div>
  </div>
</section>