---
title: Forex Brokers
layout: layouts/base.njk
permalink: /forex-brokers/
tags: ["top level menu"]
eleventyNavigation:
  key: Forex Brokers
  order: 3
  includeSelf: true
  excerpt: Search for and compare Forex Brokers, use the Advanced Search to refine your search results. View the brokers profile to see a detailed list of their features.
  icon: filter-advanced
---

<section class='py-section'>
  {# NOTE: example of setting an dynamic pictureObject before including components/picture-example.njk #}
  {% set pictureObject = coverPhoto %}
  {# {% include "components/picture-example.njk" %} #}
</section>